.nav {
    top: 0%;
    /* padding-top: 0%; */
    background-color: transparent;
    position: absolute;
    color: white;
    margin-left: 4%;
    /* color:black; */
    /* z-index:99;
    width:100vw; */
    width: 94%;
    /* overflow-x: hidden; */
}

.nav-one{
    display:flex;
    justify-content: space-between;
    /* color:black; */
}

.logo{
    margin-top: 0%;
    padding-top: 0%;
}

.nav-items{
    display: flex;
    /* margin-left: 40%; */
    /* padding-left: 50%;
    padding-right: 10%; */
    width: 50%;
    justify-content: space-evenly;
    padding-left: 40%;
    padding-top: 15px;
}

/* p {
    padding-right: 20%;
    padding-left: 20%;
} */

.a-tag {
    padding-top: 15px;
    color: white;
    text-decoration: none;
}

.login {
    padding-right: .5%;
}

.login button {
    width: 114px;
    height: 38px;
    /* left: 1279px;
    top: 25px; */
    margin-top: 23px;

    background: radial-gradient(497.78% 2795.16% at 68.96% 48.89%, #2F0F72 7.82%, rgba(251, 250, 254, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: medium;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}