<div class="nav">
    <div class="nav-one">
        <div class="logo">
            <h1>Washapp.</h1>
        </div>
        <div class="nav-items">

            <!-- <p >Services</p> -->
            <a class="a-tag" href="#services">Services</a>

            <!-- <p>About Us</p> -->
            <a class="a-tag" href="#about">About Us</a>

            <!-- <p>Contact Us</p> -->
            <a class="a-tag" href="#contact">Contact Us</a>

        </div>
        <div class="login">
            <button routerLink="/login">Login</button>
        </div>
    </div>
</div>