<div class="body">
    <div class="content">

        <h2 style="font-weight: 500;">HOW WE WORK?.</h2>

        <p>{{works}}</p>

        <div class="scroll-img"></div>

    </div>

    <div class="text-services">
        <h2 style="font-weight: 500; padding-top: 5%;text-align: center;">OUR SERVICES.</h2>

        <div class="rects">
            <div class="rect-1"> </div>
            <div class="rect-1"> </div>
            <div class="rect-1"> </div>
            <div class="rect-1"> </div>
        </div>
    </div>
</div>