<div class="body" id="services">
    <div class="content-image">

        <div class="content">

            <h2 style="font-weight: 500;">HOW WE WORK?.</h2>

            <p>{{works}}</p>

            <div class="scroll-img"></div>

        </div>

        

    </div>


    <div class="text-services">
        <h2 style="font-weight: 500; padding-top: 5%;text-align: center;">OUR SERVICES.</h2>

        <div class="rects">
            <div class="rect-1" *ngFor="let item of services;">
                <h1 class="serv" style="font-weight: 200;">{{ item }}</h1>
            </div>
            <!-- <div class="rect-1">
                <h1 class="serv" style="font-weight: 200;">Bike<br> Wash</h1>
            </div>
            <div class="rect-1">
                <h1 class="serv" style="font-weight: 200;">Car <br> Detailing</h1>
            </div>
            <div class="rect-1">
                <h1 class="serv" style="font-weight: 200;">Vehicle<br>Service</h1>
            </div> -->
        </div>
    </div>
</div>