.body {
    background-color: black;
    color: white;
    /* padding-top: 1%; */
}

.socials{
    display: flex;
    justify-content: center;
}

.fb {
    /* padding:2%; */
    padding-right: 2%;
    padding-left: 2%;
}

.footer{
    padding-bottom: 1px;
}